extends ../layout

block content
	h3 #{name}
	hr
	div.col-md-12
		div.col-md-7			
			div.col-md-12
				div.col-md-8
					h4 Registered Rules
				div.col-md-4
					a.btn.btn-primary(href="/rules/#{user_app_id}/list") Add
			div.col-md-12
				table.table.col-md-12
					tr
						th Name
						th Rule
						th Threshold
						th Condition
						th Status
						th 
						th 
						th   
					- each rule in rules
						tr
							td #{rule.name}
							td #{rule.rule_name}
							td #{rule.threshold}
							td #{rule.condition}
							td #{rule.status}
							td
								a(href="/rules/#{rule._id}/delete") delete
							td
								a(href="/rules/#{rule._id}/update") update
							td
								a(href="/rules/#{rule._id}/stats") stats
		div.col-md-5
			div.panel.panel-primary
				div.panel-heading Notifications
				ul#notifications.list-group(style="height: 400px; overflow-y: auto")


block inPageScript
	script.
		function getNotifications(){
			$.get("/apps/notifications/#{access_token}",function(messages){
				var lists = []							
				for(var msg of messages){
					var time_str= "";				
					if(msg.time_stamp != ""){
						var d = new Date();
						d.setTime(msg.time_stamp);				
						time_str = d.toString();
					}
					lists.push("<li class='list-group-item bg-info'><p class='text-info'>"+msg.message+"</p><p class='text-muted small'>"+time_str+"</p></li>");
				}
				$("#notifications").html(lists.join(""));
			});
		}
		$(document).ready(function(){
			getNotifications();
			setInterval(function(){
				getNotifications();
		}, 5000);
		});
		
		